<div id="landing-page-container">

    <div id="gb-header" class="gb-header"></div>

    {{> wiki-button-group }}

    <div id="dynamic-content">
        <hr class="highlight" />

        {{> whats-hot }}
        {{> gaming-history }}
        {{> random-games }}
    
    </div>
</div>
